In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('dirty_cafe_sales.csv')

In [3]:
df.columns = df.columns.str.lower().str.replace(' ','_').str.strip()
df.columns.to_list()

['transaction_id',
 'item',
 'quantity',
 'price_per_unit',
 'total_spent',
 'payment_method',
 'location',
 'transaction_date']

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transaction_id    10000 non-null  object
 1   item              9667 non-null   object
 2   quantity          9862 non-null   object
 3   price_per_unit    9821 non-null   object
 4   total_spent       9827 non-null   object
 5   payment_method    7421 non-null   object
 6   location          6735 non-null   object
 7   transaction_date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

In [5]:
df.isna()

,transaction_id,item,quantity,price_per_unit,total_spent,payment_method,location,transaction_date
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
9995,False,False,False,False,False,True,False,False
9996,False,True,False,True,False,False,True,False
9997,False,False,False,False,False,False,True,False
9998,False,False,False,True,False,False,True,False
9999,False,False,False,False,False,False,False,False

In [6]:
df.isna().sum()

transaction_id         0
item                 333
quantity             138
price_per_unit       179
total_spent          173
payment_method      2579
location            3265
transaction_date     159
dtype: int64

In [7]:
df.duplicated().sum()

np.int64(0)

In [8]:
df.dtypes

transaction_id      object
item                object
quantity            object
price_per_unit      object
total_spent         object
payment_method      object
location            object
transaction_date    object
dtype: object

In [9]:
errorUnknownCount = df.isin(['UNKNOWN', 'ERROR']).sum()
'''errorCount = errorUnknownCount.sum()
errorCount'''
errorUnknownCount

transaction_id        0
item                636
quantity            341
price_per_unit      354
total_spent         329
payment_method      599
location            696
transaction_date    301
dtype: int64

Convet to numeric values

In [10]:
df['quantity'] = pd.to_numeric(df['quantity'], errors = 'coerce')
df['price_per_unit'] = pd.to_numeric(df['price_per_unit'], errors = 'coerce')
df['total_spent'] = pd.to_numeric(df['total_spent'], errors = 'coerce')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transaction_id    10000 non-null  object
 1   item              9667 non-null   object
 2   quantity          9521 non-null   float64
 3   price_per_unit    9467 non-null   float64
 4   total_spent       9498 non-null   float64
 5   payment_method    7421 non-null   object
 6   location          6735 non-null   object
 7   transaction_date  9841 non-null   object
dtypes: float64(3), object(5)
memory usage: 625.1+ KB