In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('dirty_cafe_sales.csv')

In [4]:
df.columns = df.columns.str.lower().str.replace(' ','_').str.strip()
df.columns.to_list()

['transaction_id',
 'item',
 'quantity',
 'price_per_unit',
 'total_spent',
 'payment_method',
 'location',
 'transaction_date']

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transaction_id    10000 non-null  object
 1   item              9667 non-null   object
 2   quantity          9862 non-null   object
 3   price_per_unit    9821 non-null   object
 4   total_spent       9827 non-null   object
 5   payment_method    7421 non-null   object
 6   location          6735 non-null   object
 7   transaction_date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

In [6]:
df.isna()

,transaction_id,item,quantity,price_per_unit,total_spent,payment_method,location,transaction_date
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
9995,False,False,False,False,False,True,False,False
9996,False,True,False,True,False,False,True,False
9997,False,False,False,False,False,False,True,False
9998,False,False,False,True,False,False,True,False
9999,False,False,False,False,False,False,False,False

In [7]:
df.isna().sum()

transaction_id         0
item                 333
quantity             138
price_per_unit       179
total_spent          173
payment_method      2579
location            3265
transaction_date     159
dtype: int64

In [8]:
df.duplicated().sum()

np.int64(0)

In [9]:
df.dtypes

transaction_id      object
item                object
quantity            object
price_per_unit      object
total_spent         object
payment_method      object
location            object
transaction_date    object
dtype: object

In [10]:
errorUnknownCount = df.isin(['UNKNOWN', 'ERROR']).sum()
'''errorCount = errorUnknownCount.sum()
errorCount'''
errorUnknownCount

transaction_id        0
item                636
quantity            341
price_per_unit      354
total_spent         329
payment_method      599
location            696
transaction_date    301
dtype: int64

Convet to numeric values

In [11]:
df['quantity'] = pd.to_numeric(df['quantity'], errors = 'coerce')
df['price_per_unit'] = pd.to_numeric(df['price_per_unit'], errors = 'coerce')
df['total_spent'] = pd.to_numeric(df['total_spent'], errors = 'coerce')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transaction_id    10000 non-null  object
 1   item              9667 non-null   object
 2   quantity          9521 non-null   float64
 3   price_per_unit    9467 non-null   float64
 4   total_spent       9498 non-null   float64
 5   payment_method    7421 non-null   object
 6   location          6735 non-null   object
 7   transaction_date  9841 non-null   object
dtypes: float64(3), object(5)
memory usage: 625.1+ KB

Replace UNKNOWN AND ERROR WITH NAN

In [13]:
df.replace(['UNKNOWN', 'ERROR'], np.nan, inplace = True)

In [14]:
df.isna().sum()

transaction_id         0
item                 969
quantity             479
price_per_unit       533
total_spent          502
payment_method      3178
location            3961
transaction_date     460
dtype: int64

In [15]:
df['quantity'] = df['quantity'].fillna(df['total_spent']/df['price_per_unit'])
df['price_per_unit'] = df['price_per_unit'].fillna(df['total_spent']/df['quantity'])
df['total_spent'] = df['total_spent'].fillna(df['quantity'] * df['price_per_unit'])

In [16]:
df.isna().sum()

transaction_id         0
item                 969
quantity              38
price_per_unit        38
total_spent           40
payment_method      3178
location            3961
transaction_date     460
dtype: int64

In [17]:
df[df['quantity'].isnull()].head(40)

,transaction_id,item,quantity,price_per_unit,total_spent,payment_method,location,transaction_date
236,TXN_8562645,Salad,NaN,5.0,NaN,NaN,In-store,2023-05-18
278,TXN_3229409,Juice,NaN,3.0,NaN,Cash,Takeaway,2023-04-15
629,TXN_9289174,Cake,NaN,NaN,12.0,Digital Wallet,In-store,2023-12-30
641,TXN_2962976,Juice,NaN,3.0,NaN,NaN,NaN,2023-03-17
738,TXN_8696094,Sandwich,NaN,4.0,NaN,NaN,Takeaway,2023-05-14
912,TXN_1575608,Sandwich,NaN,NaN,20.0,NaN,Takeaway,2023-01-05
1008,TXN_7225428,Tea,NaN,NaN,3.0,Credit Card,Takeaway,2023-03-07
1436,TXN_7590801,Tea,NaN,NaN,6.0,Cash,Takeaway,NaN
1482,TXN_3593060,Smoothie,NaN,NaN,16.0,Cash,NaN,2023-03-05
2330,TXN_3849488,Salad,NaN,NaN,5.0,NaN,In-store,2023-03-01
2796,TXN_9188692,Cake,NaN,3.0,NaN,Credit Card,NaN,2023-12-01
3203,TXN_4565754,Smoothie,NaN,4.0,NaN,Digital Wallet,Takeaway,2023-10-06
3224,TXN_6297232,Coffee,NaN,2.0,NaN,NaN,NaN,2023-04-07
3401,TXN_3251829,Tea,NaN,1.5,NaN,Digital Wallet,In-store,2023-07-25
3635,TXN_6177081,Cookie,NaN,NaN,1.0,Cash,NaN,2023-07-26
3779,TXN_7376255,NaN,NaN,NaN,25.0,NaN,In-store,2023-05-27
4257,TXN_6470865,Coffee,NaN,2.0,NaN,Digital Wallet,Takeaway,2023-09-18
5639,TXN_6206792,Tea,NaN,NaN,6.0,Credit Card,NaN,2023-10-13
5841,TXN_5884081,Cookie,NaN,1.0,NaN,Digital Wallet,In-store,2023-07-05
5845,TXN_8388462,Smoothie,NaN,NaN,8.0,NaN,Takeaway,2023-08-19
6225,TXN_6859249,Cookie,NaN,NaN,2.0,NaN,NaN,NaN
6661,TXN_5308047,Cookie,NaN,NaN,1.0,Credit Card,NaN,2023-10-28
6674,TXN_3071092,Coffee,NaN,NaN,4.0,NaN,NaN,2023-09-08
7029,TXN_4628338,Coffee,NaN,2.0,NaN,Cash,NaN,2023-12-25
7297,TXN_9944500,Smoothie,NaN,4.0,NaN,Cash,In-store,2023-01-03
7597,TXN_1082717,NaN,NaN,NaN,9.0,Digital Wallet,In-store,2023-12-13
8021,TXN_2428781,Salad,NaN,5.0,NaN,NaN,In-store,2023-05-09
8443,TXN_2023651,Sandwich,NaN,4.0,NaN,Cash,In-store,2023-05-25
8465,TXN_9669616,Coffee,NaN,2.0,NaN,NaN,NaN,2023-06-03
8479,TXN_1547245,Sandwich,NaN,4.0,NaN,NaN,Takeaway,2023-09-11
8574,TXN_2546684,Juice,NaN,3.0,NaN,Digital Wallet,Takeaway,2023-04-08
8669,TXN_7764304,Cake,NaN,NaN,3.0,Credit Card,Takeaway,2023-01-09
8732,TXN_4550558,Cookie,NaN,1.0,NaN,Credit Card,In-store,2023-08-04
8975,TXN_8077367,Tea,NaN,NaN,7.5,Credit Card,NaN,2023-02-27
9464,TXN_5744797,Cake,NaN,NaN,3.0,Cash,In-store,2023-12-20
9590,TXN_9924732,Sandwich,NaN,4.0,NaN,Credit Card,In-store,2023-01-18
9819,TXN_1208561,NaN,NaN,NaN,20.0,Credit Card,NaN,2023-08-19
9869,TXN_1975184,Coffee,NaN,2.0,NaN,Digital Wallet,NaN,2023-01-15

Create Dictionary

In [18]:
price_to_item = {
    1.0: 'Cookie',
    1.5: 'Tea',
    2.0: 'Coffee',
    3.0: 'Juice',
    4.0: 'Smoothie',
    5.0: 'Salad'
}

In [19]:
df['item'] = df['item'].replace(['UNKNOWN', 'ERROR'], np.nan)
df['item'] = df['item'].fillna(df['price_per_unit'].map(price_to_item))

In [20]:
df.isna().sum()

transaction_id         0
item                   6
quantity              38
price_per_unit        38
total_spent           40
payment_method      3178
location            3961
transaction_date     460
dtype: int64

In [21]:
df.dropna(subset=['item'], inplace = True)

In [22]:
df.isna().sum()

transaction_id         0
item                   0
quantity              35
price_per_unit        32
total_spent           37
payment_method      3175
location            3958
transaction_date     460
dtype: int64

In [23]:
df[df['quantity'].isnull()].head(40)

,transaction_id,item,quantity,price_per_unit,total_spent,payment_method,location,transaction_date
236,TXN_8562645,Salad,NaN,5.0,NaN,NaN,In-store,2023-05-18
278,TXN_3229409,Juice,NaN,3.0,NaN,Cash,Takeaway,2023-04-15
629,TXN_9289174,Cake,NaN,NaN,12.0,Digital Wallet,In-store,2023-12-30
641,TXN_2962976,Juice,NaN,3.0,NaN,NaN,NaN,2023-03-17
738,TXN_8696094,Sandwich,NaN,4.0,NaN,NaN,Takeaway,2023-05-14
912,TXN_1575608,Sandwich,NaN,NaN,20.0,NaN,Takeaway,2023-01-05
1008,TXN_7225428,Tea,NaN,NaN,3.0,Credit Card,Takeaway,2023-03-07
1436,TXN_7590801,Tea,NaN,NaN,6.0,Cash,Takeaway,NaN
1482,TXN_3593060,Smoothie,NaN,NaN,16.0,Cash,NaN,2023-03-05
2330,TXN_3849488,Salad,NaN,NaN,5.0,NaN,In-store,2023-03-01
2796,TXN_9188692,Cake,NaN,3.0,NaN,Credit Card,NaN,2023-12-01
3203,TXN_4565754,Smoothie,NaN,4.0,NaN,Digital Wallet,Takeaway,2023-10-06
3224,TXN_6297232,Coffee,NaN,2.0,NaN,NaN,NaN,2023-04-07
3401,TXN_3251829,Tea,NaN,1.5,NaN,Digital Wallet,In-store,2023-07-25
3635,TXN_6177081,Cookie,NaN,NaN,1.0,Cash,NaN,2023-07-26
4257,TXN_6470865,Coffee,NaN,2.0,NaN,Digital Wallet,Takeaway,2023-09-18
5639,TXN_6206792,Tea,NaN,NaN,6.0,Credit Card,NaN,2023-10-13
5841,TXN_5884081,Cookie,NaN,1.0,NaN,Digital Wallet,In-store,2023-07-05
5845,TXN_8388462,Smoothie,NaN,NaN,8.0,NaN,Takeaway,2023-08-19
6225,TXN_6859249,Cookie,NaN,NaN,2.0,NaN,NaN,NaN
6661,TXN_5308047,Cookie,NaN,NaN,1.0,Credit Card,NaN,2023-10-28
6674,TXN_3071092,Coffee,NaN,NaN,4.0,NaN,NaN,2023-09-08
7029,TXN_4628338,Coffee,NaN,2.0,NaN,Cash,NaN,2023-12-25
7297,TXN_9944500,Smoothie,NaN,4.0,NaN,Cash,In-store,2023-01-03
8021,TXN_2428781,Salad,NaN,5.0,NaN,NaN,In-store,2023-05-09
8443,TXN_2023651,Sandwich,NaN,4.0,NaN,Cash,In-store,2023-05-25
8465,TXN_9669616,Coffee,NaN,2.0,NaN,NaN,NaN,2023-06-03
8479,TXN_1547245,Sandwich,NaN,4.0,NaN,NaN,Takeaway,2023-09-11
8574,TXN_2546684,Juice,NaN,3.0,NaN,Digital Wallet,Takeaway,2023-04-08
8669,TXN_7764304,Cake,NaN,NaN,3.0,Credit Card,Takeaway,2023-01-09
8732,TXN_4550558,Cookie,NaN,1.0,NaN,Credit Card,In-store,2023-08-04
8975,TXN_8077367,Tea,NaN,NaN,7.5,Credit Card,NaN,2023-02-27
9464,TXN_5744797,Cake,NaN,NaN,3.0,Cash,In-store,2023-12-20
9590,TXN_9924732,Sandwich,NaN,4.0,NaN,Credit Card,In-store,2023-01-18
9869,TXN_1975184,Coffee,NaN,2.0,NaN,Digital Wallet,NaN,2023-01-15

In [24]:
menu_prices = {
    'Coffee': 2.0,
    'Tea': 1.5,
    'Sandwich': 4.0,
    'Salad': 5.0,
    'Cake': 3.0,
    'Cookie': 1.0,
    'Smoothie': 4.0,
    'Juice': 3.0
}

df['price_per_unit'] = df['price_per_unit'].fillna(df['item'].map(menu_prices))

In [25]:
df.isna().sum()

transaction_id         0
item                   0
quantity              35
price_per_unit         0
total_spent           37
payment_method      3175
location            3958
transaction_date     460
dtype: int64

In [26]:
(df['quantity'].isnull() & df['total_spent'].isnull()).sum()

np.int64(20)

In [27]:
df.drop(
    df[df['quantity'].isnull() & df['total_spent'].isnull()].index,
    inplace=True
)

In [28]:
df.isna().sum()

transaction_id         0
item                   0
quantity              15
price_per_unit         0
total_spent           17
payment_method      3168
location            3952
transaction_date     460
dtype: int64

In [29]:
df[df['quantity'].isnull()].head(16)

,transaction_id,item,quantity,price_per_unit,total_spent,payment_method,location,transaction_date
629,TXN_9289174,Cake,NaN,3.0,12.0,Digital Wallet,In-store,2023-12-30
912,TXN_1575608,Sandwich,NaN,4.0,20.0,NaN,Takeaway,2023-01-05
1008,TXN_7225428,Tea,NaN,1.5,3.0,Credit Card,Takeaway,2023-03-07
1436,TXN_7590801,Tea,NaN,1.5,6.0,Cash,Takeaway,NaN
1482,TXN_3593060,Smoothie,NaN,4.0,16.0,Cash,NaN,2023-03-05
2330,TXN_3849488,Salad,NaN,5.0,5.0,NaN,In-store,2023-03-01
3635,TXN_6177081,Cookie,NaN,1.0,1.0,Cash,NaN,2023-07-26
5639,TXN_6206792,Tea,NaN,1.5,6.0,Credit Card,NaN,2023-10-13
5845,TXN_8388462,Smoothie,NaN,4.0,8.0,NaN,Takeaway,2023-08-19
6225,TXN_6859249,Cookie,NaN,1.0,2.0,NaN,NaN,NaN
6661,TXN_5308047,Cookie,NaN,1.0,1.0,Credit Card,NaN,2023-10-28
6674,TXN_3071092,Coffee,NaN,2.0,4.0,NaN,NaN,2023-09-08
8669,TXN_7764304,Cake,NaN,3.0,3.0,Credit Card,Takeaway,2023-01-09
8975,TXN_8077367,Tea,NaN,1.5,7.5,Credit Card,NaN,2023-02-27
9464,TXN_5744797,Cake,NaN,3.0,3.0,Cash,In-store,2023-12-20

In [30]:
df['quantity'] = df['quantity'].fillna(df['total_spent']/df['price_per_unit'])

In [31]:
df[df['quantity'].isnull()].head(16)

Empty DataFrame
Columns: [transaction_id, item, quantity, price_per_unit, total_spent, payment_method, location, transaction_date]
Index: []

In [32]:
df.isna().sum()

transaction_id         0
item                   0
quantity               0
price_per_unit         0
total_spent           17
payment_method      3168
location            3952
transaction_date     460
dtype: int64

In [33]:
df['total_spent'] = df['total_spent'].fillna(df['quantity'] * df['price_per_unit'])

In [34]:
df[df['total_spent'].isnull()].head(16)

Empty DataFrame
Columns: [transaction_id, item, quantity, price_per_unit, total_spent, payment_method, location, transaction_date]
Index: []

In [35]:
df.isna().sum()

transaction_id         0
item                   0
quantity               0
price_per_unit         0
total_spent            0
payment_method      3168
location            3952
transaction_date     460
dtype: int64

Fill Dates

In [36]:
df['transaction_date'] = pd.to_datetime(df['transaction_date'], errors = 'coerce')

In [37]:
df['transaction_date'] = df['transaction_date'].ffill().bfill()

In [38]:
print(f'Remaining missing dates: {df['transaction_date'].isna().sum()}')

Remaining missing dates: 0

In [39]:
df['transaction_date'].head(16)

0    2023-09-08
1    2023-05-16
2    2023-07-19
3    2023-04-27
4    2023-06-11
5    2023-03-31
6    2023-10-06
7    2023-10-28
8    2023-07-28
9    2023-12-31
10   2023-11-07
11   2023-11-07
12   2023-05-03
13   2023-06-01
14   2023-03-21
15   2023-11-15
Name: transaction_date, dtype: datetime64[ns]

In [40]:
df.isna().sum()

transaction_id         0
item                   0
quantity               0
price_per_unit         0
total_spent            0
payment_method      3168
location            3952
transaction_date       0
dtype: int64

Clean payment_method and location

Location

In [41]:
df['location'].value_counts(dropna=False)

location
NaN         3952
Takeaway    3016
In-store    3006
Name: count, dtype: int64

In [42]:
# Fill with the most common location (mode)
most_common_location = df['location'].mode()[0]
df['location'] = df['location'].fillna(most_common_location)

In [43]:
df['location'].value_counts(dropna=False)

location
Takeaway    6968
In-store    3006
Name: count, dtype: int64

Payment Method

In [44]:
df['payment_method'].value_counts(dropna=False)

payment_method
NaN               3168
Digital Wallet    2284
Credit Card       2268
Cash              2254
Name: count, dtype: int64

In [45]:
# Fill with the most common paymentMethod(mode)
most_common_paymentMethod = df['payment_method'].mode()[0]
df['payment_method'] = df['payment_method'].fillna(most_common_paymentMethod)

In [46]:
df['payment_method'].value_counts(dropna=False)

payment_method
Digital Wallet    5452
Credit Card       2268
Cash              2254
Name: count, dtype: int64

In [47]:
df.isna().sum()

transaction_id      0
item                0
quantity            0
price_per_unit      0
total_spent         0
payment_method      0
location            0
transaction_date    0
dtype: int64

In [48]:
df

,transaction_id,item,quantity,price_per_unit,total_spent,payment_method,location,transaction_date
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4.0,1.0,4.0,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2.0,5.0,10.0,Digital Wallet,Takeaway,2023-04-27
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2.0,2.0,4.0,Digital Wallet,Takeaway,2023-08-30
9996,TXN_9659401,Cookie,3.0,1.0,3.0,Digital Wallet,Takeaway,2023-06-02
9997,TXN_5255387,Coffee,4.0,2.0,8.0,Digital Wallet,Takeaway,2023-03-02
9998,TXN_7695629,Cookie,3.0,1.0,3.0,Digital Wallet,Takeaway,2023-12-02
9999,TXN_6170729,Sandwich,3.0,4.0,12.0,Cash,In-store,2023-11-07